<title>{{titulo}}</title>

<div class="container mt-5">
    <div class="card">
        <div class="card-body p-4">
            <h4>Cadastro de recompensa</h4>
            <form action='/recompensas/add' method="post">
                <div class="form-control p-4 mt-3">
                    <div class="row g-3">
                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <span class="required">* <label>Tipo:</label></span>
                                <select class="form-control form-select" id="nome" name="nome">
                                    <option value="Desconto 10">Desconto de R$ 10,00 na loja X</option>
                                    <option value="Vale-Compras 50">Vale-Compras de R$ 50,00 na loja X</option>
                                    <option value="Gift Card Google 15">Gift Card GooglePlay de R$ 15,00</option>
                                    <option value="Gift Card Google 50">Gift Card GooglePlay de R$ 50,00</option>
                                    <option value="Gift Card Spotify 17">Gift Card Spotify de R$ 18,00</option>
                                    <option value="Gift Card NETFLIX 50">Gift Card NETFLIX de R$ 50,00</option>
                                    <option value="Gift Card iFood 50">Gift Card iFood de R$ 50,00</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <span class="required">* <label>Pontos para resgatar:</label></span>
                            <input name="valor" id="valor" type="number" class="form-control">
                            <span class="alert-danger">{{printError errors 'valor'}}</span>
                        </div>

                        <div class="col-md-3">
                            <span class="required">* <label> Código do cartão:</label></span>
                            <input name="codigo" id="codigo" type="text" class="form-control">
                            <span class="alert-danger">{{printError errors 'codigo'}}</span>
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-5">
                        <button class="btn btn-outline-primary me-md-2" type="submit">Cadastrar</button>
                        <a href="../index" class="btn btn-outline-secondary">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>