<title>{{titulo}}</title>
<div class="container mt-4">
    {{!-- FORMULARIO DE CADASTRO DE USUÁRIO --}}
    <form onsubmit="">
        <h2>Formulário de Cadastro</h2>
        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-group mt-4">
                    <label>Nome</label>
                    <input name="nome" id="nome" type="text" class="form-control" placeholder="Digite seu nome...">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group mt-4">
                    <label>CPF:</label>
                    <input name="cpf" id="cpf" type="text" class="form-control" placeholder="Não utilize pontos e traços">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Sobrenome:</label>
                    <input name="sobrenome" id="sobrenome" type="text" class="form-control" placeholder="Digite seu sobrenome...">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Data de Nascimento:</label>
                    <input name="nascimento" id="nascimento" type="date" class="form-control">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group mt-3">
                <label>Email:</label>
                <input name="email" id="email" type="email" class="form-control" placeholder="Digite seu email...">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group mt-3">
                <label>Senha:</label>
                <input type="password" class="form-control">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group mt-3">
                <label>Confirmação de senha:</label>
                <input name="senha" id="senha" type="password" class="form-control">
            </div>
        </div>

        

        <div class="col-md-4">
            <div class="form-group mt-3">
                <label>Tipo Sanguíneo:</label>
                <div class="row">
                    <div class="col">
                        {{#each sangues}}

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="id_sangue" id="id_sangue" value={{id}}>
                            <label class="form-check-label">{{tipo}}</label>
                        </div>
                        
                        {{/each}}
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button class="btn btn-success me-md-2" type="submit">Cadastrar</button>
            <a href="/" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
    <br/>
</div>