<title>{{titulo}}</title>


<body onload={{modal}}>
    <div class="container">
        <br/>
        <h3>Reset de senha de usuário</h3>
        <hr class="featurette-divider">
        <div>Informe abaixo a sua nova senha:</div>
        <br/>
        <h5><i class="fas fa-key"></i> Reset de senha</h5>

        <form action="/reset_senha/{{token}}" method="post">
            <div class="col-md-6">
                <div class="form-group mt-3">
                    <label>Senha:</label>
                    <input name="senha" type="password" id="senha" minlength="8" class="form-control" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group mt-3">
                    <label>Confirmação de senha:</label>
                    <input name="confSenha" minlength="8" id="confSenha" type="password" class="form-control" required>
                </div>
            </div>
            <hr class="featurette-divider">
            <button type="submit" class="btn btn-primary">Enviar nova senha</button>
        </form>
</body>

      

<script src="/js/confirmacao-senha.js"></script>