<title>Token Expirado</title>

    <div class="container">
        <br/>
        <h3><i class="fas fa-wrench"></i> O seu token expirou!</h3>
        <hr class="featurette-divider">
        <div>Acesse a página de esqueci minha senha para gerar um novo link de recuperação.</div>
        <br/>

        <img src="/img/icons/confuse.png" class="rounded mx-auto d-block w-25">
    </div>
