<title>Campanhas</title>
<title>Campanhas</title>

<div class="container">
    <div class="text-center mt-5">
        <h2>Campanhas</h2>
    </div>
    <div class="card w-100 border-light mt-4">
        <div class="row g-0">
            <div class="col-md-3">
                <img class="img-fluid rounded-start" style="width: 250px;" src="/img/campanha/campanha1.jpeg" alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Banco de Sangue do HC-UFG necessita com urgência de doações</h5>
                    <p class="card-text block-with-text" style="text-align: justify;">O Banco de Sangue do Hospital das
                        Clínicas da
                        Universidade Federal de Goiás
                        (HC-UFG),
                        administrado pela Empresa Brasileira de Serviços Hospitalares (Ebserh), necessita com urgência
                        de
                        doações. Devido à pandemia de covid-19, as doações caíram muito, o que tem levado o Banco de
                        Sangue do
                        HC a sobreviver do empréstimo de bolsas de sangue do Hemocentro de Goiás (Hemogo) e de outros
                        bancos de
                        sangue parceiros. Para aumentar o número de doações para o Banco de Sangue do HC, o Subsistema
                        Integrado
                        de Atenção à Saúde do Servidor (Siass) da UFG lançou uma campanha com o slogan "Em tempos de
                        distanciamento social, a doação de sangue pode nos aproximar"</p>
                    <div class="d-flex justify-content-end">
                        <a href="https://www.ufg.br/n/139530-banco-de-sangue-do-hc-ufg-necessita-com-urgencia-de-doacoes"
                            class="btn btn-outline-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card w-100 border-light">
        <div class="row g-0">
            <div class="col-md-8 p-3">
                <div class="card-body">
                    <h5 class="card-title">TRANSURC e SETCAMP criam campanha para estimular a doação de sangue</h5>
                    <p class="card-text block-with-text" style="text-align: justify;">A Associação das Empresas de
                        Transporte Urbano de
                        Campinas (Transurc) e o
                        Sindicato das
                        Empresas de Transporte de Passageiros da Região Metropolitana de Campinas (SetCamp) entraram na
                        luta
                        para estimular o aumento de doações de sangue na cidade. Foram instalados backbus em oito ônibus
                        de
                        concessionárias da cidade, que rodarão por diversos bairros com o tema: “Seja Solidário! Doe
                        sangue e
                        nos ajude a salvar vidas”, além de mensagens nas redes sociais das entidades.</p>
                    <a href="https://www.hemocentro.unicamp.br/noticias/transurc-e-setcamp-criam-campanha-para-estimular-a-doacao-de-sangue/"
                        class="btn btn-outline-primary">Saiba mais</a>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-fluid rounded-start " src="/img/campanha/campanha2.png" alt="">
            </div>
        </div>
    </div>
    <br>
    <div class="card  w-100 border-light">
        <div class="row g-0">
            <div class="col-md-3">
                <img class="img-fluid rounded-start " style="width: 250px;" src="/img/campanha/campanha3.jpeg" alt="">
            </div>

            <div class="col-md-8 p-3">
                <div class="card-body" style="text-align: justify;">
                    <h5 class="card-title">CAMPANHA DE DOAÇÃO DE SANGUE: COMJOVEM SALVA VIDAS</h5>
                    <p class="card-text block-with-text">A campanha de Doação de Sangue: COMJOVEM Salva Vidas, uma
                        realização da
                        NTC&Logística com a COMJOVEM
                        neste ano completa 4 anos e já conseguiu com o apoio de entidades e dos núcleos da comissão por
                        todo o
                        país, um total de 1.062 doações e 118 inscrições para a doação de medula óssea. Esses números
                        são muito
                        significativos considerando que cada doação de sangue pode salvar até 4 vidas. Neste ano
                        queremos salvar
                        ainda mais pessoas e para isso contamos novamente com o esforço do setor, seja doando ou
                        divulgando a
                        campanha.</p>
                    <div class="d-flex justify-content-end">
                        <a href="https://www.portalntc.org.br/campanha-de-doacao-de-sangue-comjovem-salva-vidas-2-2/"
                        class="btn btn-outline-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{{!--
<br />
<div class="container">
    <div class="row featurette">
        <div class="col-md-7">
            <a href="https://www.ufg.br/n/139530-banco-de-sangue-do-hc-ufg-necessita-com-urgencia-de-doacoes">
                <h2 class="featurette-heading">Banco de Sangue do HC-UFG necessita com urgência de doações</h2>
            </a>
            <p class="lead">O Banco de Sangue do Hospital das Clínicas da Universidade Federal de Goiás (HC-UFG),
                administrado pela Empresa Brasileira de Serviços Hospitalares (Ebserh), necessita com urgência de
                doações. Devido à pandemia de covid-19, as doações caíram muito, o que tem levado o Banco de Sangue do
                HC a sobreviver do empréstimo de bolsas de sangue do Hemocentro de Goiás (Hemogo) e de outros bancos de
                sangue parceiros. Para aumentar o número de doações para o Banco de Sangue do HC, o Subsistema Integrado
                de Atenção à Saúde do Servidor (Siass) da UFG lançou uma campanha com o slogan "Em tempos de
                distanciamento social, a doação de sangue pode nos aproximar".</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto w-75" src="/img/campanha/campanha1.jpeg"
                data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <a
                href="https://www.hemocentro.unicamp.br/noticias/transurc-e-setcamp-criam-campanha-para-estimular-a-doacao-de-sangue/">
                <h2 class="featurette-heading">TRANSURC e SETCAMP criam campanha para estimular a doação de sangue</h2>
            </a>
            <p class="lead">A Associação das Empresas de Transporte Urbano de Campinas (Transurc) e o Sindicato das
                Empresas de Transporte de Passageiros da Região Metropolitana de Campinas (SetCamp) entraram na luta
                para estimular o aumento de doações de sangue na cidade. Foram instalados backbus em oito ônibus de
                concessionárias da cidade, que rodarão por diversos bairros com o tema: “Seja Solidário! Doe sangue e
                nos ajude a salvar vidas”, além de mensagens nas redes sociais das entidades.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto w-75" src="/img/campanha/campanha2.png"
                data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <a href="https://www.portalntc.org.br/campanha-de-doacao-de-sangue-comjovem-salva-vidas-2-2/">
                <h2 class="featurette-heading">CAMPANHA DE DOAÇÃO DE SANGUE: COMJOVEM SALVA VIDAS</h2>
            </a>
            <p class="lead">
                A campanha de Doação de Sangue: COMJOVEM Salva Vidas, uma realização da NTC&Logística com a COMJOVEM
                neste ano completa 4 anos e já conseguiu com o apoio de entidades e dos núcleos da comissão por todo o
                país, um total de 1.062 doações e 118 inscrições para a doação de medula óssea. Esses números são muito
                significativos considerando que cada doação de sangue pode salvar até 4 vidas. Neste ano queremos salvar
                ainda mais pessoas e para isso contamos novamente com o esforço do setor, seja doando ou divulgando a
                campanha.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto w-75" src="/img/campanha/campanha3.jpeg"
                data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>
    <hr class="featurette-divider">
</div> --}}