<title>Como doar</title>

<div class="container">
    <br />
    <h4>Doação de sangue</h4>
    <br />
    <strong>
        <h7>Por que doar?</h7>
    </strong>
    <p>O sangue é insubstituível, não pode ser produzido artificialmente. Doar sangue é muito simples e não afeta a
        saúde do doador.
        A doação salva vidas, é um ato altruísta e voluntário que beneficia pessoas conhecidas e desconhecidas. A
        medicina e a ciência avançaram muito, mas ainda não foi encontrado substituto para o sangue humano. Quando uma
        pessoa precisa de transfusão de sangue só pode contar com a solidariedade de quem doa.
        A doação beneficia ao doador, porque traz a nobre satisfação por ajudar ao próximo. É uma atitude de pleno
        exercício de cidadania e de exemplar responsabilidade social. Doe Sangue e Salve Vidas.</p>
    <strong>
        <h7>Quem pode doar?</h7>
    </strong>
    <p>Qualquer pessoa com boa saúde, com idade entre 18 a 69 anos e peso a partir de 50 quilos. O candidato a doação
        deve estar bem alimentado e munido de documento de identidade.</p>
    <p>Jovens de 16 e 17 anos podem doar com autorização formal do responsável ou representante legal.</p>

    <p>Não pode doar sangue a pessoa que:</p>
    <p>Teve hepatite depois dos 10 anos de idade;</p>
    <p>Tem comportamento sexual de risco;</p>
    <p>Usa drogas;</p>
    <p>Teve malária, recebeu transfusão sanguínea ou teve doenças sexualmente transmissíveis nos últimos 12 meses;</p>
    <p>Teve febre nos últimos 30 dias;</p>
    <strong>
        <h5>Etapas da doação?</h5>
    </strong>
    <p>
    <p>Recepção de Doadores: Se for a primeira vez, o candidato informa seus dados. Se já for cadastrado, ele apenas os
        confirma.</p>
    <p>Triagem Clínica: Após o cadastro, ele passa por uma avaliação clínica que consta de questionamentos sobre sua
        saúde. Além disso, são verificados, entre outros itens: peso, pressão arterial e taxa de hemoglobina.
    </p>
    <p>Sala de Coleta: Se apto à doação na triagem clínica, o candidato é encaminhado para doar. O material utilizado é
        totalmente descartável e sem risco de contaminação.
    </p>
    <p>Copa: Após a coleta o doador faz um lanche.</p>
    <p>Sorologia: Antes do sangue ser transfundido, ele passa por uma série de exames sorológicos, entre eles: Sífilis,
        Doença de Chagas, HIV, Hepatites, HTLV I e II, além da tipagem sanguínea.</p>
    <p>Fracionamento: O sangue coletado é fracionado em hemocomponentes – Concentrado de Hemácias, Concentrado de
        Plaquetas, Plasma e Crioprecipitado. Ou seja, com apenas uma doação podem ser atendidos vários pacientes.
    </p>

    <p>Armazenamento do sangue: Enquanto os exames laboratoriais não são liberados, as bolsas ficam adequadamente
        acondicionadas dentro das condições exigidas pela legislação ministerial vigente.</p>
    <p>Distribuição do sangue: Após a liberação dos exames, os hemocomponentes são distribuídos para rede hospitalar
        pública e privada da capital mediante solicitação médica. O produto também é utilizado no atendimento
        transfusional do ambulatório do hemocentro.</p>
    </p>
    <strong>
        <h3></h3>
    </strong>
</div>