<title>{{titulo}}</title>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Company - v4.5.0
  * Template URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h2>Sobre-nós</h2>
            <h3>
                Nesta página você encontra informações sobre nossa equipe de desenvolvimento e 
                toda a stack utilizada no sistema
            </h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p>
              O projeto sanguessuga tem como objetivo informatizar e tornar mais prático o ato de doar sangue na cidade, além de facilitar o acesso à informações para os mesmo, como a consulta ao estoque sanguíneo dos centros de doação além da localidade dos centros, todas as informações necessárias para realizar a doação e tornar digital o documento que comprove o ato de doação de sangue.
            </p>
            <ul>
              <li><i class="fas chec fa-check-double"></i></i> Emissão de comprovante de doação</li>
              <li><i class="fas chec fa-check-double"></i></i> Ganhe pontos por doação e troque por prêmios</li>
              <li><i class="fas chec fa-check-double"></i></i> Acompanhamento do banco de sangue dos centro de doação</li>
            </ul>
            <p class="fst-italic">
              Tudo isso e muito mais você consegue ajudando várias pessoas com sua doação e ao mesmo tempo
              ganha prêmios. Cadastre-se e veja mais!
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Nossa <strong>Equipe</strong></h2>
          <p>Abaixo você encontra informações sobre os membros de nossa equipe que desenvolveu o sistema
              com links para as redes sociais de cada um.
          </p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="/img/sobre/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Diego Libório</h4>
                <span>Engenharia de Software</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/img/sobre/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Gabriel Domingos</h4>
                <span>Engenharia de Software</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="/img/sobre/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Thiago Braga</h4>
                <span>Engenharia de Software</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="/img/sobre/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Victor Klisman</h4>
                <span>Engenharia de Software</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Our Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Nossa <strong>Stack</strong></h2>
          <p>Abaixo contém todas as tecnologias que utilizamos para desenvolver o sistema.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            

            <div class="progress">
              <span class="skill">CSS e Sass <i class="val">90%</i></span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">75%</i></span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Mysql <i class="val">100%</i></span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Handlebars <i class="val">90%</i></span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Canva <i class="val">55%</i></span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>
        </div>

        

      </div>
    </section><!-- End Our Skills Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>

</html>