<title>Agendar Doação</title>

<div class="container">
    <br />
    <h3>Agendar doação em: {{nome_centro}}</h3>
    <form action="{{id}}" method="post">
        <div class="col-md-2">
            <div class="form-group">
                <span class="required">* <label>Data:</label></span>
                <input min="{{data}}" max="2021-12-31"
                 name="dia" id="dia" type="date" class="form-control" required>
            </div>
        </div>
        <br />
        <div class="col-md-3">
            <div class="form-group">
                <span class="required">* <label>Hora:</label></span>
                <select name="hora" class="form-select" required>
                    <option value="" selected>Selecione um horário...</option>
                    <option value="08:00">08:00</option>
                    <option value="09:00">09:00</option>
                    <option value="10:00">10:00</option>
                    <option value="13:00">13:00</option>
                    <option value="14:00">14:00</option>
                    <option value="15:00">15:00</option>
                    <option value="16:00">16:00</option>
                </select>
            </div>
        </div>
        <br />
        <span class="alert-danger">{{msg}}</span>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button class="btn btn-outline-success me-md-2" type="submit">Agendar</button>
            <a href="../index" class="btn btn-outline-danger">Cancelar</a>
        </div>
        
    </form>
</div>